.exit{
    position: fixed;
    left: 0.5%;
    top: 0.5%;
    display: block;
    width: 5%;
    height: 7%;
    font-size: xx-small;
    font-weight: bolder;
    background-color: #97bbbc;
}
 
.person{
    position: fixed;
    top :0.5%;
    right: 2%;
}

.one{
    position: fixed;
    top: 30%;
    right: 30%;
    color: #90a6c4;
    font-size: 500%;
}
.two{
    position: fixed;
    top: 30%;
    right: 40%;
    color: #97bbbc;
    font-size: 500%;
}